<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rasmus Eksamen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Using bootstrap to make the project look nicer overall   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--  Getting my main.js javascript  file loaded  -->
    <script th:src="@{/js/main.js}"></script>

    <!--  Getting my main.css css file loaded  -->
    <link th:href="@{/css/main.css}">
</head>

<!--------- thymeleaf injected header from the fragments.html  ----------->
<header th:replace="fragments/fragments.html :: header"></header>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <!------------------------------------------------------ Add Student ---------------------------------------------------------------------->

        <div class="shadow p-3 mb-5 bg-white rounded">
            <section class="students-creator">
                <h6>Add Student</h6>
                <form id="studentform" action="#">
                    <input type="text" name="name" placeholder="name" id="studentName">
                    <input type="email" name="email" placeholder="email" id="studentEmail">
                    <select name="supervisorId" id="supervisorId">
                        <option th:each="supervisor:${supervisors}"  th:text="'Supervisor: ' + ${supervisor.getName()}" th:value="${supervisor.getSupervisorId()}"></option>
                    </select>

                    <input type="submit" onclick="addStudent()" value="New Student">
                </form>
                <hr class="my-4">
            </section>
        </div>

        <!------------------------------------------------------ Student Table ---------------------------------------------------------------------->

        <div class="shadow p-3 mb-5 bg-white rounded">
            <section class="student-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Supervisor</th>
                    </tr>
                    </thead>
                    <tbody id="tableBody">
                    <tr th:id="'myRowId' + ${student.getStudentId()}" th:each="student: ${students}">
                        <td th:text="${student?.getStudentName()}"></td>
                        <td th:text="${student?.getStudentEmail()}"></td>
                        <td th:text="${student?.getSupervisor().getName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>

    <!------------------------------------------------------ Update Student ---------------------------------------------------------------------->

    <div class="shadow p-3 mb-5 bg-white rounded">
    <section class="students-update">
    <h6>Update Student</h6>
    <form id="updateform" action="#">

        <select name="studentId" id="updateId" onchange="myFunction()">
            <option th:id="'updateStudentId' + ${student.getStudentId()}" th:each="student:${students}" th:text="'Student: ' + ${student.getStudentName()}" th:value="${student.getStudentId()}">

            </option>
        </select>

        <input type="text" name="name" id="updateStudentName">
        <input type="email" name="email" id="updateStudentEmail">
        <select name="supervisorId" id="updateSupervisorId">
            <option th:each="supervisor:${supervisors}"  th:text="'Supervisor: ' + ${supervisor.getName()}" th:value="${supervisor.getSupervisorId()}"></option>
        </select>

        <input type="submit" onclick="updateStudent()" value="Update Student">
    </form>


    <hr class="my-4">
    </section>
    </div>

    <!------------------------------------------------------ Delete Student ---------------------------------------------------------------------->

    <div class="shadow p-3 mb-5 bg-white rounded">
    <section class="students-delete">
    <h6>Delete Student</h6>
    <form id="deleteform" action="#">
        <select name="studentId" id="deleteId">
            <option th:id="'deleteStudentId' + ${student.getStudentId()}" th:each="student:${students}" th:text="'Student: ' + ${student.getStudentName()}" th:value="${student.getStudentId()}">

            </option>
        </select>


        <input type="submit" onclick="deleteStudent()" value="Delete Student">
    </form>

    </section>
    </div>
    <hr class="my-4">
    </div>
</div>
</body>

<!-------------- Scripts --------------->
<script>
    function myFunction() {

        var selectedID = document.getElementById("updateId").value;
        var rowElement = document.getElementById("myRowId" + selectedID)
        console.log(rowElement.children)
        var studentName = rowElement.children[0].innerHTML;
        var studentEmail = rowElement.children[1].innerHTML;
        document.getElementsByName('name')[1].value = studentName;
        document.getElementsByName('email')[1].value = studentEmail;
    }
</script>

<script>
    preventFormDefault($("#studentform"));
    preventFormDefault($("#updateform"));
    preventFormDefault($("#deleteform"));
</script>

</html>